<h1>Feeds</h1>
<h5><%= link_to "Home", root_path %></h5>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article.link %> - Published <%= article.published_at %>.
    </li>
  <% end %>
</ul>

<br><br>

<% if logged_in? %>
  <%= button_to "Logout", '/logout', method: :get %>
<% else %>
  <%= button_to "Login", '/login', method: :get %>
<% end %>
