<h5><%= link_to "Home", root_path %></h5>
<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
  <%# do bin/rails routes - edit_article_path corresponds to the path for GET call for edit_article %>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Delete", article_path(@article),
		  # calls the DELETE method, uses unobtrusive javascript (UJS) to have a popup asking for confirmation
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>

<%# render the partial collection of comments in _comment.html.erb once for each comment in article.comments instead of looping through the article.comments
    render method assigns each comment to a local variable, accessible using the partial file name, eg, comment, which is used in the partial to show 
    similarly, we can render partial forms as done below with Add Comments in _form.html.erb %>
<%# being an instance variable, @article object is available to all partials rendered in the view %>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
